.hidden {
    display: none;
    align-content: center;
    background-color: white;
    position: absolute;
    align-content: center;
}

#denuncia-table {
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #denuncia-table td, #denuncia-table th {
    border: 1px solid #ddd;
    padding: 8px;
    background-color: white;
  }
  
  #denuncia-table tr:nth-child(even){background-color: #f2f2f2;}
  
  #denuncia-table tr:hover {background-color: #ddd;}
  
  #denuncia-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(25, 66, 107);
    color: white;
  }

.resultado {
    margin-left: 20px;
    color: blue;
    font-weight: 600;
}

#search-input {
    top: 5px;
    padding: 12px;
    width: 500px;
    font-size: 18px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 5px;
    align-content: center;
    text-align: center;
}

#search-results {
    background-color: white;
    position: absolute;
    z-index: 1000;
    width: 350px;
    top: 32.5%; /* Coloca a caixa logo abaixo do input */
    left: 41%;
}

#search-results div {
    padding: 10px;
    cursor: pointer;
    font-size: 14px;
}

#search-results div:hover {
    background-color: #f0f0f0;
}

/* Estilização do campo de entrada para prevenir colisões visuais */
#search-input {
    position: relative;
    z-index: 10;
}

.navbar-brand img {
    max-width: 200px;
    margin: 10px;
}

.navbar-brand {
    display: flex;
    justify-content: flex-start;
    align-items: center; /* Se você quiser centralizar verticalmente a imagem */
}
    .contact_us_6 * {
font-family: Nunito, sans-serif;
}

.contact_us_6 .text-blk {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    line-height: 25px;
}

.contact_us_6 .responsive-cell-block {
    min-height: 75px;
}

.contact_us_6 input:focus,
.contact_us_6 textarea:focus {
    outline-color: initial;
    outline-style: none;
    outline-width: initial;
}

.contact_us_6 .container-block {
    min-height: 75px;
    width: 100%;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    display: block;
}

.contact_us_6 .responsive-container-block {
    min-height: 75px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 50px;
    margin-left: auto;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

.contact_us_6 .responsive-container-block.big-container {
    padding-top: 10px;
    padding-right: 30px;
    width: 35%;
    padding-bottom: 10px;
    padding-left: 30px;
    background-color: #03a9f4;
    position: absolute;
    height: 950px;
    right: 0px;
}

.contact_us_6 .responsive-container-block.container {
    position: relative;
    min-height: 75px;
    flex-direction: row;
    z-index: 2;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 0px;
    padding-left: 30px;
    max-width: 1500px;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
}

.contact_us_6 .container-block.form-wrapper {
    background-color: white;
    max-width: 500px;
    text-align: center;
    padding-top: 50px;
    padding-right: 40px;
    padding-bottom: 50px;
    padding-left: 40px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 20px 7px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    margin-top: 90px;
    margin-right: 0px;
    margin-bottom: 60px;
    margin-left: 0px;
}

.contact_us_6 .text-blk.contactus-head {
    font-size: 36px;
    line-height: 52px;
    font-weight: 900;
}

.contact_us_6 .text-blk.contactus-subhead {
color: #9c9c9c;
width: 300px;
margin-top: 0px;
margin-right: auto;
margin-bottom: 50px;
margin-left: auto;
display: none;
}

.contact_us_6 .responsive-cell-block.wk-desk-6.wk-ipadp-6.wk-tab-12.wk-mobile-12 {
margin-top: 0px;
margin-right: 0px;
margin-bottom: 26px;
margin-left: 0px;
min-height: 50px;
}

.contact_us_6 .input {
width: 100%;
height: 50px;
padding-top: 1px;
padding-right: 15px;
padding-bottom: 1px;
padding-left: 15px;
border-top-width: 2px;
border-right-width: 2px;
border-bottom-width: 2px;
border-left-width: 2px;
border-top-style: solid;
border-right-style: solid;
border-bottom-style: solid;
border-left-style: solid;
border-top-color: #eeeeee;
border-right-color: #eeeeee;
border-bottom-color: #eeeeee;
border-left-color: #eeeeee;
border-image-source: initial;
border-image-slice: initial;
border-image-width: initial;
border-image-outset: initial;
border-image-repeat: initial;
font-size: 16px;
color: black;
}

.contact_us_6 .textinput {
width: 98%;
height: 100px;
padding-top: 20px;
padding-right: 15px;
padding-bottom: 20px;
padding-left: 15px;
border-top-width: 2px;
border-right-width: 2px;
border-bottom-width: 2px;
border-left-width: 2px;
border-top-style: solid;
border-right-style: solid;
border-bottom-style: solid;
border-left-style: solid;
border-top-color: #eeeeee;
border-right-color: #eeeeee;
border-bottom-color: #eeeeee;
border-left-color: #eeeeee;
border-image-source: initial;
border-image-slice: initial;
border-image-width: initial;
border-image-outset: initial;
border-image-repeat: initial;
font-size: 16px;
}

.contact_us_6 .textinput2 {
width: 98%;
height: 74px;
padding-top: 20px;
padding-right: 15px;
padding-bottom: 20px;
padding-left: 15px;
border-top-width: 2px;
border-right-width: 2px;
border-bottom-width: 2px;
border-left-width: 2px;
border-top-style: solid;
border-right-style: solid;
border-bottom-style: solid;
border-left-style: solid;
border-top-color: #eeeeee;
border-right-color: #eeeeee;
border-bottom-color: #eeeeee;
border-left-color: #eeeeee;
border-image-source: initial;
border-image-slice: initial;
border-image-width: initial;
border-image-outset: initial;
border-image-repeat: initial;
font-size: 16px;
}

.contact_us_6 .submit-btn {
width: 98%;
background-color: #03a9f4;
height: 60px;
font-size: 20px;
font-weight: 700;
color: white;
border-top-width: 0px;
border-right-width: 0px;
border-bottom-width: 0px;
border-left-width: 0px;
border-top-style: outset;
border-right-style: outset;
border-bottom-style: outset;
border-left-style: outset;
border-top-color: #767676;
border-right-color: #767676;
border-bottom-color: #767676;
border-left-color: #767676;
border-image-source: initial;
border-image-slice: initial;
border-image-width: initial;
border-image-outset: initial;
border-image-repeat: initial;
border-top-left-radius: 40px;
border-top-right-radius: 40px;
border-bottom-right-radius: 40px;
border-bottom-left-radius: 40px;
}

.contact_us_6 .form-box {
z-index: 2;
margin-top: 50px;
margin-right: 48px;
margin-bottom: 0px;
margin-left: 0px;
}

.contact_us_6 .text-blk.input-title {
text-align: left;
padding-top: 0px;
padding-right: 0px;
padding-bottom: 0px;
padding-left: 10px;
font-size: 14px;
margin-top: 0px;
margin-right: 0px;
margin-bottom: 5px;
margin-left: 0px;
color: #9c9c9c;
}

.contact_us_6 ::placeholder {
color: #dadada;
}

.contact_us_6 .mob-text {
display: block;
text-align: left;
margin-top: 0px;
margin-right: 0px;
margin-bottom: 25px;
margin-left: 0px;
}

.contact_us_6 .responsive-cell-block.wk-tab-12.wk-mobile-12.wk-desk-12.wk-ipadp-12 {
margin-top: 0px;
margin-right: 0px;
margin-bottom: 20px;
margin-left: 0px;
}

.contact_us_6 .text-blk.contactus-subhead.color {
color: white;
}

.contact_us_6 .map-box {
    display: flex;
    margin-top: 20px;
    width: 500px; 
    height: 300px;
    width: 100%;
    height: 520px;
    background-color: #ffffff;
    align-items:center;
    border-radius: 8px;
    justify-content: center;
}

.contact_us_6 .map-part {
    width: 100%;
    height: 100%;
}

.contact_us_6 .text-blk.map-contactus-head {
    font-weight: 900;
    font-size: 30px;
    line-height: 32px;
    margin-top: 200px;
    margin-right: 0px;
    margin-bottom: 30px;
    color: #03a9f4;
    text-align: center;
}

.contact_us_6 .text-blk.map-contactus-subhead {
margin-top: 0px;
margin-right: 0px;
margin-bottom: 10px;
margin-left: 0px;
text-align: center;
}

.contact_us_6 .social-media-links.mob {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 10px;
    margin-left: 0px;
    width: 793px;
    display: flex;
    justify-content: center;
}

.contact_us_6 .link-img {
width: 30px;
height: 30px;
margin-top: 0px;
margin-right: 25px;
margin-bottom: 0px;
margin-left: 0px;
}

.contact_us_6 .link-img.image-block {
margin-top: 0px;
margin-right: 0px;
margin-bottom: 0px;
margin-left: 0px;
}

.contact_us_6 .social-icon-link {
margin: 0 25px 0 0;
padding: 0 0 0 0;
}

@media (max-width: 1024px) {
.contact_us_6 .responsive-container-block.container {
    justify-content: center;
}

.contact_us_6 .map-box {
    position: absolute;
    top: 0px;
    max-height: 320px;
}

.contact_us_6 .map-box {
    max-width: 100%;
    width: 100%;
}

.contact_us_6 .responsive-container-block.container {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

.contact_us_6 .map-part {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact_us_6 .container-block.form-wrapper {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

.contact_us_6 .mob-text {
    display: block;
}

.contact_us_6 .form-box {
    margin-top: 200px;
    margin-right: 60px;
    margin-bottom: 40px;
    margin-left: 0px;
}

.contact_us_6 .link-img {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    display: flex;
    justify-content: space-evenly;
}

.contact_us_6 .social-media-links.mob {
    justify-content: space-evenly;
}

.contact_us_6 .responsive-cell-block.wk-desk-7.wk-ipadp-12.wk-tab-12.wk-mobile-12 {
    text-align: center;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
}

.contact_us_6 .text-blk.contactus-subhead {
    display: block;
}

.contact_us_6 .mob-text {
    text-align: center;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

.contact_us_6 .responsive-container-block.container {
    flex-wrap: wrap;
}

.contact_us_6 .form-box {
    margin-top: 200px;
    margin-right: 0px;
    margin-bottom: 40px;
    margin-left: 0px;
}
}

@media (max-width: 768px) {
.contact_us_6 .submit-btn {
    width: 100%;
}

.contact_us_6 .input {
    width: 100%;
}

.contact_us_6 .textinput {
    width: 100%;
}

.contact_us_6 .container-block.form-wrapper {
    margin-top: 80px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

.contact_us_6 .text-blk.input-title {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

.contact_us_6 .form-box {
    padding-top: 0px;
    padding-right: 20px;
    padding-bottom: 0px;
    padding-left: 20px;
}

.contact_us_6 .container-block.form-wrapper {
    padding-top: 50px;
    padding-right: 15px;
    padding-bottom: 50px;
    padding-left: 15px;
}

.contact_us_6 .mob-text {
    display: block;
}

.contact_us_6 .responsive-container-block.container {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

.contact_us_6 .form-box {
    margin-top: 200px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

.contact_us_6 .container-block.form-wrapper {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

.contact_us_6 .form-box {
    margin-top: 220px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

.contact_us_6 .form-box {
    margin-top: 220px;
    margin-right: 0px;
    margin-bottom: 50px;
    margin-left: 0px;
}

.contact_us_6 .text-blk.contactus-head {
    font-size: 32px;
    line-height: 40px;
}
}

@media (max-width: 500px) {
.contact_us_6 .container-block.form-wrapper {
    padding-top: 50px;
    padding-right: 15px;
    padding-bottom: 50px;
    padding-left: 15px;
}

.contact_us_6 .container-block.form-wrapper {
    margin-top: 60px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

.contact_us_6 .responsive-cell-block.wk-ipadp-6.wk-tab-12.wk-mobile-12.wk-desk-6 {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 15px;
    margin-left: 0px;
}

.contact_us_6 .responsive-container-block {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 35px;
    margin-left: 0px;
}

.contact_us_6 .text-blk.input-title {
    font-size: 12px;
}

.contact_us_6 .text-blk.contactus-head {
    font-size: 26px;
    line-height: 35px;
}

.contact_us_6 .input {
    height: 45px;
}
}
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800&amp;display=swap');

    *,
    *:before,
    *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    }

    body {
    margin: 0;
    }

    .wk-desk-1 {
    width: 8.333333%;
    }

    .wk-desk-2 {
    width: 16.666667%;
    }

    .wk-desk-3 {
    width: 25%;
    }

    .wk-desk-4 {
    width: 33.333333%;
    }

    .wk-desk-5 {
    width: 41.666667%;
    }

    .wk-desk-6 {
    width: 50%;
    }

    .wk-desk-7 {
    width: 58.333333%;
    }

    .wk-desk-8 {
    width: 66.666667%;
    }

    .wk-desk-9 {
    width: 75%;
    }

    .wk-desk-10 {
    width: 83.333333%;
    }

    .wk-desk-11 {
    width: 91.666667%;
    }

    .wk-desk-12 {
    width: 100%;
    }

    @media (max-width: 1024px) {
    .wk-ipadp-1 {
        width: 8.333333%;
    }

    .wk-ipadp-2 {
        width: 16.666667%;
    }

    .wk-ipadp-3 {
        width: 25%;
    }

    .wk-ipadp-4 {
        width: 33.333333%;
    }

    .wk-ipadp-5 {
        width: 41.666667%;
    }

    .wk-ipadp-6 {
        width: 50%;
    }

    .wk-ipadp-7 {
        width: 58.333333%;
    }

    .wk-ipadp-8 {
        width: 66.666667%;
    }

    .wk-ipadp-9 {
        width: 75%;
    }

    .wk-ipadp-10 {
        width: 83.333333%;
    }

    .wk-ipadp-11 {
        width: 91.666667%;
    }

    .wk-ipadp-12 {
        width: 100%;
    }
    }

    @media (max-width: 768px) {
    .wk-tab-1 {
        width: 8.333333%;
    }

    .wk-tab-2 {
        width: 16.666667%;
    }

    .wk-tab-3 {
        width: 25%;
    }

    .wk-tab-4 {
        width: 33.333333%;
    }

    .wk-tab-5 {
        width: 41.666667%;
    }

    .wk-tab-6 {
        width: 50%;
    }

    .wk-tab-7 {
        width: 58.333333%;
    }

    .wk-tab-8 {
        width: 66.666667%;
    }

    .wk-tab-9 {
        width: 75%;
    }

    .wk-tab-10 {
        width: 83.333333%;
    }

    .wk-tab-11 {
        width: 91.666667%;
    }

    .wk-tab-12 {
        width: 100%;
    }
    }

    @media (max-width: 500px) {
    .wk-mobile-1 {
        width: 8.333333%;
    }

    .wk-mobile-2 {
        width: 16.666667%;
    }

    .wk-mobile-3 {
        width: 25%;
    }

    .wk-mobile-4 {
        width: 33.333333%;
    }

    .wk-mobile-5 {
        width: 41.666667%;
    }

    .wk-mobile-6 {
        width: 50%;
    }

    .wk-mobile-7 {
        width: 58.333333%;
    }

    .wk-mobile-8 {
        width: 66.666667%;
    }

    .wk-mobile-9 {
        width: 75%;
    }

    .wk-mobile-10 {
        width: 83.333333%;
    }

    .wk-mobile-11 {
        width: 91.666667%;
    }

    .wk-mobile-12 {
        width: 100%;
    }
    }


    /*
 CSS das TABS
*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap');

*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body{
  background: #e1ecf2;
}

.wrapper{
  margin: 0px;
}

.wrapper .top_navbar{
  width: 100%;
  display: flex;
  position: fixed;
}

.wrapper .top_navbar .top_menu{
  width: 100%;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

.wrapper .top_navbar .top_menu .logo{
  color: #19426b;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 3px;
}

.wrapper .top_navbar .top_menu ul{
  display: flex;
}

.wrapper .top_navbar .top_menu ul li a{
  display: block;
  margin: 0 10px;
  width: 80px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  color: #19426b;
  font-weight: 700;
}

.wrapper .top_navbar .top_menu ul li a:hover{
//   background: #4360b5;
  color: #000000;
}

.wrapper .top_navbar .top_menu ul li a:hover i{
  color: #fff;
}

.wrapper .sidebar{
  position: fixed;
  top: 70px;
  left: 10px;
  background: #19426b;
  width: 200px;
  height: calc(100% - 80px);
  border-bottom-left-radius: 20px;
  transition: all 0.3s ease;
}

.wrapper .sidebar ul li a{
    display: block;
    padding: 20px;
    color: #fff;
    position: relative;
    margin-bottom: 1px;
    color: #e7e7e7;
    white-space: nowrap;
}

.wrapper .sidebar ul li a:before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 3px;
  height: 100%;
  background: #e7e7e7;
  display: none;
}

.wrapper .sidebar ul li a span.icon{
  margin-right: 10px;
  display: inline-block;
}

.wrapper .sidebar ul li a span.title{
  display: inline-block;
}

.wrapper .sidebar ul li a:hover,
.wrapper .sidebar ul li a.active{
  background: #03a9f4;
  color: #fff;
}

.wrapper .sidebar ul li a:hover:before,
.wrapper .sidebar ul li a.active:before{
  display: block;
}

.wrapper .main_container{
  width: (100% - 200px);
  margin-top: 70px;
  margin-left: 200px;
  padding: 15px;
  transition: all 0.3s ease;
}

.wrapper .main_container .item{
  background: #fff;
  margin-bottom: 10px;
//   padding: 15px;
//   font-size: 14px;
//   line-height: 22px;
}

.wrapper.collapse .sidebar{
  width: 70px;
}

.wrapper.collapse .sidebar ul li a{
  text-align: center; 
}

.wrapper.collapse .sidebar ul li a span.icon{
  margin: 0;
}

.wrapper.collapse .sidebar ul li a span.title{
  display: none;
}

.wrapper.collapse .main_container{
  width: (100% - 70px);
  margin-left: 70px;
}
